body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

.back-button {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.services {
  text-align: center;
  padding: 20px;
}

.services h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.services p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.service-item {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  margin: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-item img {
  width: 100%;
  height: auto;
  display: block;
}

.service-item h2 {
  font-size: 1.5em;
  margin: 10px;
}

.service-item p {
  font-size: 1em;
  margin: 10px;
  padding-bottom: 10px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .service-item {
      width: 45%;
      max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .service-item {
      width: 30%;
  }
}
